  <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light top-nav">
    <a class="navbar-brand" href="#">Meal Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to("Home", root_path, { class: "nav-link" }) %>
        </li>
        <li class="nav-item">
          <%= link_to("Ingredients", ingredients_path, { class: "nav-link" }) %>
        </li>
      </ul>
      <% if @current_user.present? %>
        <span class="navbar-text">
          <i class="fa fa-user"></i>  <%= @current_user.email %>
        </span>
      <% end %>
    </div>
  </nav>

