<header class="navbar navbar-fixed-top">
  <div class="collapse navbar-collapse">
    <nav>
      <ul class="nav navbar-nav">
        <li class="nav-item"><%= link_to "Home", root_path, { :class => "nav-link" } %></li>
      </ul>
    </nav>
  </div>
</header>